<div class="canvas">
  <app-header title="SISTEMA DE ADMINISTRACIÓN DE USUARIOS"></app-header>
  <div
    class="container-fluid d-flex flex-row align-items-center justify-content-center"
  >
    <app-options
      title="CAPTURAR USUARIOS"
      desc="Añade en este apartado un usuario"
      btnName="ACCEDER"
      imgUrl="https://cdn-icons-png.flaticon.com/512/2331/2331796.png"
      pageUrl="/captura"
    ></app-options>
    <app-options
      title="CONSULTAR USUARIOS"
      desc="Consulta el registro de usuarios"
      btnName="ACCEDER"
      imgUrl="https://cdn-icons-png.flaticon.com/512/3378/3378576.png"
      pageUrl="/consulta"
    ></app-options>
  </div>

  <app-footer></app-footer>
</div>
